In [1]:
import pyspark as ps
from pyspark import SparkConf, SparkContext
from __future__ import unicode_literals
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import json
import gzip
import spacy
%matplotlib inline
np.random.seed(32113)
import pickle
from sklearn.decomposition import NMF
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.feature_extraction.stop_words import ENGLISH_STOP_WORDS
from sklearn.decomposition import NMF
from nltk.corpus import stopwords
from spacy.en import English
from sklearn.grid_search import GridSearchCV
import string
import data_prep_new as dp 
parser = English()
from pyspark.sql.types import *
from pyspark.sql.functions import monotonically_increasing_id
from pyspark.sql.functions import col,isnan,count,when
import pyspark.sql.functions as pys_fun
 
import math

hc = ps.HiveContext(sc)
sql = ps.SQLContext(sc)

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/keisukeirie/anaconda/lib/python2.7/site-packages/sklearn/grid_search.py:43: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

## Importing data as a pandas dataframe

In [2]:
path = './reviews_Video_Games.json.gz'
meta_path = './meta_Video_Games.json.gz'

In [18]:
dataframe = dp.getDF(path)

In [19]:
meta = dp.getDF(meta_path)

## Setting HiveContext and SQLContext

In [52]:
hc = ps.HiveContext(sc)
sql = ps.SQLContext(sc)

## Preparing review data

For this notebook, I am running pyspark within my laptop.  
Unfortunately the Pandas dataframe that stores all videogame reviews are too big for my computer.  
Therefore, I will begin my data preparation by picking videogame reviews with more than 50 user votes from this Pandas dataframe.  
I am also droping features that are not used in my prediction model.

In [60]:
#picking videogame reviews with more than 50 votes
index = [i for i in xrange(len(dataframe.helpful)) if dataframe.helpful[i][1] > 50]
dataframe2 = dataframe.loc[index]
#droping features that are not used
d2 = dataframe2.drop(['unixReviewTime','reviewTime','reviewerName','reviewerID','summary'],axis = 1)

In [7]:
d2.head(10)

,asin,helpful,reviewText,overall
81,0700026657,"[27, 52]","If you buy this game, you will regret it. If ...",1.0
272,3866811659,"[89, 91]",Fritz is arguably the most commercially-succes...,4.0
1277,9941113300,"[55, 63]",Markus Pearson Doesn't Have a Amazon account n...,1.0
1759,B000009QCV,"[11, 55]",I bought this game thinking it would be great ...,2.0
2018,B00000DMAD,"[4, 74]","the game's okay, although i don't think making...",1.0
2258,B00000DMAQ,"[2, 61]",When i rented this i returned it after about a...,1.0
2572,B00000DMAT,"[60, 66]",This is the one game that I would play day in ...,5.0
2584,B00000DMAT,"[7, 103]",I should have checked this game out more thoro...,1.0
2621,B00000DMAT,"[4, 79]",Man this game is so bad. IF you dont agree rig...,1.0
2632,B00000DMAT,"[3, 73]",This game is overated. I got this game I got t...,1.0

In [8]:
#Display d2 columns
d2.columns

Index([u'asin', u'helpful', u'reviewText', u'overall'], dtype='object')

### Preparing Schema
Here, I am making a schema for d2 Pandas dataframe.  
A schema in spark is like a structure for a Spark dataframe.  
Sometimes you can convert Pandas dataframe to Spark Dataframe without a Schema.  
However, if you have complex Pandas Dataframe structures   
like column with list or dictionary, the dataframe conversion may not work smoothly without a schema.  
  
By the way,  
the DataType for a python list = ArrayType( element datatype() )   
the DataType for a python dictionary = MapType(key datatype() , value datatype() )

In [61]:
#making a schema for d2
schema = StructType([
        StructField('asin', StringType(), True),
        StructField('helpful', ArrayType(IntegerType()), True),
        StructField('reviewText', StringType(), True),
        StructField('overall', FloatType(), True)])

In the next step, I am converting my Pandas Dataframe to Spark Dataframe.

In [62]:
#making a Spark Dataframe called df from Pandas Dataframe d2
df = hc.createDataFrame(d2,schema)

In [11]:
df.show()

+----------+---------+--------------------+-------+
|      asin|  helpful|          reviewText|overall|
+----------+---------+--------------------+-------+
|0700026657| [27, 52]|If you buy this g...|    1.0|
|3866811659| [89, 91]|Fritz is arguably...|    4.0|
|9941113300| [55, 63]|Markus Pearson Do...|    1.0|
|B000009QCV| [11, 55]|I bought this gam...|    2.0|
|B00000DMAD|  [4, 74]|the game's okay, ...|    1.0|
|B00000DMAQ|  [2, 61]|When i rented thi...|    1.0|
|B00000DMAT| [60, 66]|This is the one g...|    5.0|
|B00000DMAT| [7, 103]|I should have che...|    1.0|
|B00000DMAT|  [4, 79]|Man this game is ...|    1.0|
|B00000DMAT|  [3, 73]|This game is over...|    1.0|
|B00000DMB3| [5, 149]|...  I purchased ...|    1.0|
|B00000DMB3| [8, 177]|Seriously, this r...|    1.0|
|B00000DMB3|[16, 249]|Seriously, it's o...|    1.0|
|B00000DMB3| [5, 149]|If anyone knows h...|    1.0|
|B00000DMB3|  [4, 98]|Generic troll com...|    1.0|
|B00000DMB3|  [1, 65]|There's many that...|    1.0|
|B00000F1GM|  [1, 62]|Even when it firs...|    1.0|
|B00000F1GM|  [5, 82]|I guess I'm the f...|    1.0|
|B00000G16I|  [4, 53]|When I got SC2K t...|    1.0|
|B00000G16I| [51, 53]|Ever since the de...|    5.0|
+----------+---------+--------------------+-------+
only showing top 20 rows

### extracting elements from a list feature
I want to extract elements from the helpful feature (list) and  
store these elements as "helpful_total_votes" and "num_of_helpful_votes"

In [63]:
#extracting elements of helpful list as columns
df = df.withColumn("helpful_total_votes", df["helpful"].getItem(1)).withColumn("num_of_helpful_votes", df["helpful"].getItem(0))

In [13]:
df.show()

+----------+---------+--------------------+-------+-------------------+--------------------+
|      asin|  helpful|          reviewText|overall|helpful_total_votes|num_of_helpful_votes|
+----------+---------+--------------------+-------+-------------------+--------------------+
|0700026657| [27, 52]|If you buy this g...|    1.0|                 52|                  27|
|3866811659| [89, 91]|Fritz is arguably...|    4.0|                 91|                  89|
|9941113300| [55, 63]|Markus Pearson Do...|    1.0|                 63|                  55|
|B000009QCV| [11, 55]|I bought this gam...|    2.0|                 55|                  11|
|B00000DMAD|  [4, 74]|the game's okay, ...|    1.0|                 74|                   4|
|B00000DMAQ|  [2, 61]|When i rented thi...|    1.0|                 61|                   2|
|B00000DMAT| [60, 66]|This is the one g...|    5.0|                 66|                  60|
|B00000DMAT| [7, 103]|I should have che...|    1.0|                103|                   7|
|B00000DMAT|  [4, 79]|Man this game is ...|    1.0|                 79|                   4|
|B00000DMAT|  [3, 73]|This game is over...|    1.0|                 73|                   3|
|B00000DMB3| [5, 149]|...  I purchased ...|    1.0|                149|                   5|
|B00000DMB3| [8, 177]|Seriously, this r...|    1.0|                177|                   8|
|B00000DMB3|[16, 249]|Seriously, it's o...|    1.0|                249|                  16|
|B00000DMB3| [5, 149]|If anyone knows h...|    1.0|                149|                   5|
|B00000DMB3|  [4, 98]|Generic troll com...|    1.0|                 98|                   4|
|B00000DMB3|  [1, 65]|There's many that...|    1.0|                 65|                   1|
|B00000F1GM|  [1, 62]|Even when it firs...|    1.0|                 62|                   1|
|B00000F1GM|  [5, 82]|I guess I'm the f...|    1.0|                 82|                   5|
|B00000G16I|  [4, 53]|When I got SC2K t...|    1.0|                 53|                   4|
|B00000G16I| [51, 53]|Ever since the de...|    5.0|                 53|                  51|
+----------+---------+--------------------+-------+-------------------+--------------------+
only showing top 20 rows

In [64]:
# I don't need the helpful column any more so lets drop it.
df = df.drop(df["helpful"])

In [15]:
df.show()

+----------+--------------------+-------+-------------------+--------------------+
|      asin|          reviewText|overall|helpful_total_votes|num_of_helpful_votes|
+----------+--------------------+-------+-------------------+--------------------+
|0700026657|If you buy this g...|    1.0|                 52|                  27|
|3866811659|Fritz is arguably...|    4.0|                 91|                  89|
|9941113300|Markus Pearson Do...|    1.0|                 63|                  55|
|B000009QCV|I bought this gam...|    2.0|                 55|                  11|
|B00000DMAD|the game's okay, ...|    1.0|                 74|                   4|
|B00000DMAQ|When i rented thi...|    1.0|                 61|                   2|
|B00000DMAT|This is the one g...|    5.0|                 66|                  60|
|B00000DMAT|I should have che...|    1.0|                103|                   7|
|B00000DMAT|Man this game is ...|    1.0|                 79|                   4|
|B00000DMAT|This game is over...|    1.0|                 73|                   3|
|B00000DMB3|...  I purchased ...|    1.0|                149|                   5|
|B00000DMB3|Seriously, this r...|    1.0|                177|                   8|
|B00000DMB3|Seriously, it's o...|    1.0|                249|                  16|
|B00000DMB3|If anyone knows h...|    1.0|                149|                   5|
|B00000DMB3|Generic troll com...|    1.0|                 98|                   4|
|B00000DMB3|There's many that...|    1.0|                 65|                   1|
|B00000F1GM|Even when it firs...|    1.0|                 62|                   1|
|B00000F1GM|I guess I'm the f...|    1.0|                 82|                   5|
|B00000G16I|When I got SC2K t...|    1.0|                 53|                   4|
|B00000G16I|Ever since the de...|    5.0|                 53|                  51|
+----------+--------------------+-------+-------------------+--------------------+
only showing top 20 rows

### Running a SQL query to engineer features
lets make new features called helpful_percentage and Text_length using SQL query.  
Helpful_percentage is the percentage value calcurated by num_helpful_votes/helpful_total_votes.  
Text_length is the length of reviewText.

In [65]:
#lets register df as a temp table called 'review' so that we can use SQL query 
df.registerTempTable('review')

In [66]:
result = hc.sql('''
SELECT R.*,
ROUND(R.num_of_helpful_votes/R.helpful_total_votes,2) as helpful_percentage,
LENGTH(R.reviewText) as Text_length FROM review as R''')

In [90]:
result.show()

+----------+--------------------+-------+-------------------+--------------------+------------------+-----------+
|      asin|          reviewText|overall|helpful_total_votes|num_of_helpful_votes|helpful_percentage|Text_length|
+----------+--------------------+-------+-------------------+--------------------+------------------+-----------+
|0700026657|If you buy this g...|    1.0|                 52|                  27|              0.52|        485|
|3866811659|Fritz is arguably...|    4.0|                 91|                  89|              0.98|       5950|
|9941113300|Markus Pearson Do...|    1.0|                 63|                  55|              0.87|        263|
|B000009QCV|I bought this gam...|    2.0|                 55|                  11|               0.2|       1353|
|B00000DMAD|the game's okay, ...|    1.0|                 74|                   4|              0.05|        344|
|B00000DMAQ|When i rented thi...|    1.0|                 61|                   2|              0.03|        496|
|B00000DMAT|This is the one g...|    5.0|                 66|                  60|              0.91|       2481|
|B00000DMAT|I should have che...|    1.0|                103|                   7|              0.07|        891|
|B00000DMAT|Man this game is ...|    1.0|                 79|                   4|              0.05|        284|
|B00000DMAT|This game is over...|    1.0|                 73|                   3|              0.04|        561|
|B00000DMB3|...  I purchased ...|    1.0|                149|                   5|              0.03|        453|
|B00000DMB3|Seriously, this r...|    1.0|                177|                   8|              0.05|        853|
|B00000DMB3|Seriously, it's o...|    1.0|                249|                  16|              0.06|        412|
|B00000DMB3|If anyone knows h...|    1.0|                149|                   5|              0.03|        439|
|B00000DMB3|Generic troll com...|    1.0|                 98|                   4|              0.04|        137|
|B00000DMB3|There's many that...|    1.0|                 65|                   1|              0.02|        170|
|B00000F1GM|Even when it firs...|    1.0|                 62|                   1|              0.02|        432|
|B00000F1GM|I guess I'm the f...|    1.0|                 82|                   5|              0.06|       1146|
|B00000G16I|When I got SC2K t...|    1.0|                 53|                   4|              0.08|        236|
|B00000G16I|Ever since the de...|    5.0|                 53|                  51|              0.96|       1277|
+----------+--------------------+-------+-------------------+--------------------+------------------+-----------+
only showing top 20 rows

#### If you want to do the same code in Pandas dataframe....

In [ ]:
#Numpy and Pandas way of doing last 2 steps.
'''
game_df = d2
helpful = np.array(game_df['helpful'])
helpful = helpful.reshape(len(game_df),1)
helpful_num1 = np.zeros((len(helpful),1))
helpful_num2 = np.zeros((len(helpful),1))
for i in range(len(helpful)):
    helpful_num1[i] = helpful[i][0][0]
    helpful_num2[i] = helpful[i][0][1]
game_df['helpful_total_votes'] = helpful_num2
game_df['num_of_helpful_votes'] = helpful_num1
new_df = new_df.drop(['helpful',axis = 1)
new_df['helpful_percent'] = (new_df['num_of_helpful_votes']/ \
                                 new_df['helpful_total_votes']).round(2)
new_df.index = range(len(new_df))
length = np.zeros((len(new_df),1))
for i in new_df.index:
     length[i] = int(len(new_df['reviewText'][i]))
new_df['text_length']=length
'''

#longer code! and it's a bit confusing to follow.

## Preparing meta data

The metadata pandas dataframe contains information regarding products.  
This dataframe contains lots of useful information for my prediction model,  
but it needs to be cleaned up before merging it to review dataframe that we just created above.

In [19]:
meta.head(5)

,asin,description,price,imUrl,related,salesRank,categories,title,brand
0,0078764343,Brand new sealed!,37.98,http://ecx.images-amazon.com/images/I/513h6dPb...,"{u'also_bought': [u'B000TI836G', u'B003Q53VZC'...",{u'Video Games': 28655},"[[Video Games, Xbox 360, Games]]",NaN,NaN
1,043933702X,In Stock NOW. Eligible for FREE Super Saving ...,23.50,http://ecx.images-amazon.com/images/I/61KKRndV...,"{u'also_viewed': [u'B000067NP1', u'0439573947'...",{u'Video Games': 44080},"[[Video Games, PC, Games]]",NaN,NaN
2,0439339987,Grandma Groupers kelp seeds are missing and wi...,8.95,http://ecx.images-amazon.com/images/I/416QZg89...,"{u'also_bought': [u'B000314VVU', u'B000PXUOTE'...",{u'Video Games': 49836},"[[Video Games, PC, Games]]",NaN,NaN
3,0439342260,This software is BRAND NEW. Packaging may diff...,NaN,http://ecx.images-amazon.com/images/I/61Wvu-Uj...,{u'also_viewed': [u'043934302X']},{u'Video Games': 49156},"[[Video Games, PC, Games]]",NaN,NaN
4,0439339960,a scholastic clubs fairs cd rom game,NaN,http://ecx.images-amazon.com/images/I/51k3oRCF...,{u'also_viewed': [u'B00028D7TG']},{u'Video Games': 52262},"[[Video Games, PC, Games]]",NaN,NaN

In [20]:
#dropping columns that I am not using in my model
meta2 = meta.drop(['imUrl','related','title','brand','description'],axis = 1)
print meta2.columns

Index([u'asin', u'price', u'salesRank', u'categories'], dtype='object')

### Metadata cleaning Part 1.
  
So let me start my first metadata cleaning.  
I need to fill null values and change non-dict items into a dict in the salesRank feature.  
I also want to extracting keys and values of salesRank as features.  
I made a python user defined function that does following:
1. Assign {"Video Games": max(salesRank.values)+1} for the data that is missing salesRank values.  
2. Create rank_kyes and rank_values columns with withColumn function.

In [21]:
meta2, max_of_rank_val = dp._add_rankings(meta2,'Video Games')

In [22]:
meta2.head(5)

,asin,price,salesRank,categories,rank_keys,rank_values
0,0078764343,37.98,{u'Video Games': 28655},"[[Video Games, Xbox 360, Games]]",Video Games,28655
1,043933702X,23.50,{u'Video Games': 44080},"[[Video Games, PC, Games]]",Video Games,44080
2,0439339987,8.95,{u'Video Games': 49836},"[[Video Games, PC, Games]]",Video Games,49836
3,0439342260,NaN,{u'Video Games': 49156},"[[Video Games, PC, Games]]",Video Games,49156
4,0439339960,NaN,{u'Video Games': 52262},"[[Video Games, PC, Games]]",Video Games,52262

In [16]:
max_of_rank_val

131442

In [17]:
meta2.loc[meta2.rank_values==131441]

,asin,price,salesRank,categories,rank_keys,rank_values
50820,B00K6EKD9I,NaN,{u'Video Games': 131441},"[[Video Games, PC, Accessories, Controllers, G...",Video Games,131441

In [23]:
#we can now drop salesRank. All info from salesRank are stored in rank_keys and rank_values.
meta3 = meta2.drop(['salesRank'],axis = 1)
print meta3.columns

Index([u'asin', u'price', u'categories', u'rank_keys', u'rank_values'], dtype='object')

### Preparing a Schema for metadata and converting Pandas DF to SparkDF

In [24]:
#making a schema for meta3
schema2 = StructType([
        StructField('asin', StringType(), True),
        StructField('price',FloatType(),True),
#       StructField('salesRank', MapType(StringType(),FloatType()), True), (if we had perfect salesRank data)
        StructField('categories', ArrayType(ArrayType(StringType())), True),
        StructField('rank_keys', StringType(), True),
        StructField('rank_values', IntegerType(), True)])

In [25]:
#making a Spark Dataframe called df_meta with meta3
df_meta = hc.createDataFrame(meta3,schema2)

In [39]:
df_meta.show()

+----------+-----+--------------------+-----------+-----------+
|      asin|price|          categories|  rank_keys|rank_values|
+----------+-----+--------------------+-----------+-----------+
|0078764343|37.98|[WrappedArray(Vid...|Video Games|      28655|
|043933702X| 23.5|[WrappedArray(Vid...|Video Games|      44080|
|0439339987| 8.95|[WrappedArray(Vid...|Video Games|      49836|
|0439342260|  NaN|[WrappedArray(Vid...|Video Games|      49156|
|0439339960|  NaN|[WrappedArray(Vid...|Video Games|      52262|
|0439374391| 20.0|[WrappedArray(Vid...|Video Games|      59834|
|0439394422|12.96|[WrappedArray(Vid...|Video Games|      36531|
|043940133X| 30.0|[WrappedArray(Vid...|Video Games|      17910|
|0439573947|10.79|[WrappedArray(Vid...|Video Games|      42130|
|0439591295|  NaN|[WrappedArray(Vid...|Video Games|      12108|
|0439591368|19.95|[WrappedArray(Vid...|Video Games|       7367|
|0439591538| 8.99|[WrappedArray(Vid...|Video Games|      35302|
|0439671418|89.99|[WrappedArray(Vid...|Video Games|      51360|
|0439715571|  NaN|[WrappedArray(Vid...|Video Games|      18693|
|0439773660|11.89|[WrappedArray(Vid...|Video Games|      44476|
|0439813182| 9.81|[WrappedArray(Vid...|Video Games|      65611|
|0439862108|  NaN|[WrappedArray(Vid...|Video Games|      68816|
|0439900581|19.99|[WrappedArray(Vid...|Video Games|      52825|
|0545036372|34.08|[WrappedArray(Vid...|Video Games|      25951|
|0545076412|39.99|[WrappedArray(Vid...|Video Games|      55546|
+----------+-----+--------------------+-----------+-----------+
only showing top 20 rows

### Metadata Feature engineering part1.
The Category feature stores products' categories and is a list of lists of lists... This is driving me crazy.  
So, in next few steps, I will try to take all information from this feature and store them in new features.   
  
First, I want to make a feature called num_category.  
This feature contains information regarding total number of categories for each product.

In [26]:
# creating a python list called number_of_category which stores a number of list in each rows
number_of_category = df_meta.select('categories').rdd.flatMap(lambda x: x).map(lambda x: len(x)).collect()
# lets see first 20 elements of this list
print number_of_category[0:20]

[1, 1, 1, 1, 1, 1, 2, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

Now, I want to make this list as a new feature in my dataframe.  
I really don't know the best way to convert a list to a dataframe column.  
So What I will do is create a new dataframe called nc that only contains 1 feature (number_of_category).

In [27]:
nc= hc.createDataFrame(number_of_category,IntegerType())

In [53]:
nc.show()

+-----+
|value|
+-----+
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    2|
|    2|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
|    1|
+-----+
only showing top 20 rows

#### Adding Index column
I am adding Index column for both df_meta and nc.  
The number of index should match with these two dataframe since they have the same length.

In [28]:
from pyspark.sql.functions import monotonically_increasing_id
df_meta = df_meta.withColumn("id", monotonically_increasing_id())
nc = nc.withColumn("id", monotonically_increasing_id())

In [25]:
df_meta.show()

+----------+-----+--------------------+-----------+-----------+---+
|      asin|price|          categories|  rank_keys|rank_values| id|
+----------+-----+--------------------+-----------+-----------+---+
|0078764343|37.98|[WrappedArray(Vid...|Video Games|      28655|  0|
|043933702X| 23.5|[WrappedArray(Vid...|Video Games|      44080|  1|
|0439339987| 8.95|[WrappedArray(Vid...|Video Games|      49836|  2|
|0439342260|  NaN|[WrappedArray(Vid...|Video Games|      49156|  3|
|0439339960|  NaN|[WrappedArray(Vid...|Video Games|      52262|  4|
|0439374391| 20.0|[WrappedArray(Vid...|Video Games|      59834|  5|
|0439394422|12.96|[WrappedArray(Vid...|Video Games|      36531|  6|
|043940133X| 30.0|[WrappedArray(Vid...|Video Games|      17910|  7|
|0439573947|10.79|[WrappedArray(Vid...|Video Games|      42130|  8|
|0439591295|  NaN|[WrappedArray(Vid...|Video Games|      12108|  9|
|0439591368|19.95|[WrappedArray(Vid...|Video Games|       7367| 10|
|0439591538| 8.99|[WrappedArray(Vid...|Video Games|      35302| 11|
|0439671418|89.99|[WrappedArray(Vid...|Video Games|      51360| 12|
|0439715571|  NaN|[WrappedArray(Vid...|Video Games|      18693| 13|
|0439773660|11.89|[WrappedArray(Vid...|Video Games|      44476| 14|
|0439813182| 9.81|[WrappedArray(Vid...|Video Games|      65611| 15|
|0439862108|  NaN|[WrappedArray(Vid...|Video Games|      68816| 16|
|0439900581|19.99|[WrappedArray(Vid...|Video Games|      52825| 17|
|0545036372|34.08|[WrappedArray(Vid...|Video Games|      25951| 18|
|0545076412|39.99|[WrappedArray(Vid...|Video Games|      55546| 19|
+----------+-----+--------------------+-----------+-----------+---+
only showing top 20 rows

In [26]:
nc.show()

+-----+---+
|value| id|
+-----+---+
|    1|  0|
|    1|  1|
|    1|  2|
|    1|  3|
|    1|  4|
|    1|  5|
|    2|  6|
|    2|  7|
|    1|  8|
|    1|  9|
|    1| 10|
|    1| 11|
|    1| 12|
|    1| 13|
|    1| 14|
|    1| 15|
|    1| 16|
|    1| 17|
|    1| 18|
|    1| 19|
+-----+---+
only showing top 20 rows

#### merging two different Spark dataframes using SQL
When running SQL query, I need to register both dataframes as TempTables.  
You always convert a dataframe to a TempTable if you want to run a SQL query with Spark!  
After you register, you can run a simple SQL query to join two dataframes.  
Note: you want to "SELECT m.* ,nc.value" instead of "SELECT *".  
you don't want to have 2 duplicate "id" columns.

In [29]:
df_meta.registerTempTable('meta')
nc.registerTempTable('nc')

In [30]:
df_meta = hc.sql('SELECT m.*, nc.value AS num_category FROM meta AS m JOIN nc ON m.id == nc.id ORDER BY id')

In [29]:
df_meta.show()

+----------+-----+--------------------+-----------+-----------+---+------------+
|      asin|price|          categories|  rank_keys|rank_values| id|num_category|
+----------+-----+--------------------+-----------+-----------+---+------------+
|0078764343|37.98|[WrappedArray(Vid...|Video Games|      28655|  0|           1|
|043933702X| 23.5|[WrappedArray(Vid...|Video Games|      44080|  1|           1|
|0439339987| 8.95|[WrappedArray(Vid...|Video Games|      49836|  2|           1|
|0439342260|  NaN|[WrappedArray(Vid...|Video Games|      49156|  3|           1|
|0439339960|  NaN|[WrappedArray(Vid...|Video Games|      52262|  4|           1|
|0439374391| 20.0|[WrappedArray(Vid...|Video Games|      59834|  5|           1|
|0439394422|12.96|[WrappedArray(Vid...|Video Games|      36531|  6|           2|
|043940133X| 30.0|[WrappedArray(Vid...|Video Games|      17910|  7|           2|
|0439573947|10.79|[WrappedArray(Vid...|Video Games|      42130|  8|           1|
|0439591295|  NaN|[WrappedArray(Vid...|Video Games|      12108|  9|           1|
|0439591368|19.95|[WrappedArray(Vid...|Video Games|       7367| 10|           1|
|0439591538| 8.99|[WrappedArray(Vid...|Video Games|      35302| 11|           1|
|0439671418|89.99|[WrappedArray(Vid...|Video Games|      51360| 12|           1|
|0439715571|  NaN|[WrappedArray(Vid...|Video Games|      18693| 13|           1|
|0439773660|11.89|[WrappedArray(Vid...|Video Games|      44476| 14|           1|
|0439813182| 9.81|[WrappedArray(Vid...|Video Games|      65611| 15|           1|
|0439862108|  NaN|[WrappedArray(Vid...|Video Games|      68816| 16|           1|
|0439900581|19.99|[WrappedArray(Vid...|Video Games|      52825| 17|           1|
|0545036372|34.08|[WrappedArray(Vid...|Video Games|      25951| 18|           1|
|0545076412|39.99|[WrappedArray(Vid...|Video Games|      55546| 19|           1|
+----------+-----+--------------------+-----------+-----------+---+------------+
only showing top 20 rows

### Metadata Feature engineering part2.
Now the crazy part.  
1. I want to extract a unique sets of category words that exist within a category feature lists.  
2. Create a new dataframe ("category dataframe") that has step1. results as column names.
3. Create a indicator matrix where each row represents a product and column reprsents category that the product belongs in.  
4. join the category dataframe with the existing df_meta. 

2.and 3. I was not able to code it in Spark. So I am using my python codes that I previously made.

#### 1. unique sets of category words
In order to make a list of category words, I flatMap categories feature 3 times. 3 times!!!  
In the very last flatMap, I used list comprehension to extract words.  
Why? so that it extract category words only from the lists that contains "Video Games" as their first element of the list.  
I just want to get category names that are related to video game products.    
After running flatMaps and collect(), I have a list of category words.  
There are bunch of duplicate words in this list so I made it into python set and converted back to list.

In [31]:
category_word = df_meta.select('categories').rdd.flatMap(lambda x: x)\
                    .flatMap(lambda x: x).flatMap(lambda x3: [word for word in x3 if x3[0] == 'Video Games']).collect()
word_list = list(set(category_word))
print word_list

[u'Screen Protectors', u'PlayStation 4', u'PlayStation 3', u'PlayStation 2', u'Game Boy Advance', u'Joysticks', u'GameCube', u'Commodore Amiga', u'3DO', u'Cases & Protectors', u'More Systems', u'Sony PSP', u'LIVE', u'Sega Master System', u'Fitness Accessories', u'Subscription Cards', u'Points & Currency Cards', u'Atari 2600', u'Controllers', u'Light Guns', u'Nintendo 64', u'Nintendo 3DS', u'Linux Games', u'Accessories', u'Skins', u'Steering Wheels', u'Racing Wheels', u'PlayStation', u'Networking', u'Atari 7800', u'Xbox 360', u'Chargers', u'Kids & Family', u'ColecoVision', u'Gamepads', u'Digital Games & DLC', u'PC', u'Consoles', u'Game Boy Color', u'Nintendo NES', u'Drums', u'MMO & Free-to-Play Games', u'Xbox', u'Sega CD', u'Faceplates', u'Game Boy', u'Adapters', u'Batteries', u'Fire TV', u'Sega Genesis', u'Speakers', u'Batteries & Chargers', u'Mac Game Downloads', u'Sega Game Gear', u'PDAs', u'Sega Dreamcast', u'Remotes', u'Xbox One', u'Dance Mats', u'Atari 5200', u'Keyboards', u'Downloadable Content', u'Cables & Adapters', u'Guitars', u'Commodore 64', u'Microphones', u'Wii U', u'Headsets', u'Atari Lynx', u'Accessory Kits', u'Casual Games', u'Interactive Gaming Figures', u'Memory', u'Intellivision', u'NEOGEO Pocket', u'Nintendo DS', u'TurboGrafx 16', u'PlayStation Vita', u'Video Games', u'Digital Games', u'PC Game Downloads', u'Mac', u'Sensor Bars', u'Atari Jaguar', u'Flight Controls', u'Currency Cards', u'Games', u'Super Nintendo', u'Wii', u'Hardware', u'Gaming Mice', u'Sega Saturn', u'Cables', u'Gaming Keyboards']

#### 2. & 3. Create a new dataframe ("category dataframe")  and storing category feature list element in the new dataframe.
I have to acknowledge that I was defeated here.  
I was not able to find a way to run this section and next section in spark.   
The whole purpose of these sections is to create a dataframe where columns are category names.  
This dataframe is a binary matrix that stores 1 if product(row) belongs to that category.     
  
For instance if I have category feature for a row that is like [[A,B,D][A,E,H]],  
My new dataframe would look like {A:1,B,1,C:0,D:1,E:1,F:0,G:0,H:1} for that row.   
  
Instead of using Spark code, I'm using my python codes that I previously made.  
It still runs ok. It's not uncomfortably slow.  
I might need to attack this problem later.

In [32]:
np_cat_case = np.zeros((len(meta3),len(word_list)))
df_category= pd.DataFrame(np_cat_case)
df_category.columns = word_list
df_category = dp._category_fill(meta3['categories'],df_category, 'Video Games')

In [63]:
df_category.head(10)

,Screen Protectors,PlayStation 4,PlayStation 3,PlayStation 2,Game Boy Advance,Joysticks,GameCube,Commodore Amiga,3DO,Cases & Protectors,...,Flight Controls,Currency Cards,Games,Super Nintendo,Wii,Hardware,Gaming Mice,Sega Saturn,Cables,Gaming Keyboards
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### 4. join the category dataframe with the existing df_meta
I will perform same steps as the meta_data feature engineering pt1.  
Insert ID column in category dataframe and join these dataframes using SQL query.

In [33]:
cat_df= hc.createDataFrame(df_category)
cat_df = cat_df.withColumn("id", monotonically_increasing_id())

df_meta.registerTempTable('meta')
cat_df.registerTempTable('cat_df')

df_meta2 = hc.sql('''
SELECT m.asin,m.price, m.rank_keys, m.rank_values, m.num_category, cd.* 
FROM meta AS m JOIN cat_df AS cd ON m.id == cd.id ORDER BY cd.id''')

In [65]:
df_meta2.show()

+----------+-----+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+---+
|      asin|price|  rank_keys|rank_values|num_category|Screen Protectors|PlayStation 4|PlayStation 3|PlayStation 2|Game Boy Advance|Joysticks|GameCube|Commodore Amiga|3DO|Cases & Protectors|More Systems|Sony PSP|LIVE|Sega Master System|Fitness Accessories|Subscription Cards|Points & Currency Cards|Atari 2600|Controllers|Light Guns|Nintendo 64|Nintendo 3DS|Linux Games|Accessories|Skins|Steering Wheels|Racing Wheels|PlayStation|Networking|Atari 7800|Xbox 360|Chargers|Kids & Family|ColecoVision|Gamepads|Digital Games & DLC| PC|Consoles|Game Boy Color|Nintendo NES|Drums|MMO & Free-to-Play Games|Xbox|Sega CD|Faceplates|Game Boy|Adapters|Batteries|Fire TV|Sega Genesis|Speakers|Batteries & Chargers|Mac Game Downloads|Sega Game Gear|PDAs|Sega Dreamcast|Remotes|Xbox One|Dance Mats|Atari 5200|Keyboards|Downloadable Content|Cables & Adapters|Guitars|Commodore 64|Microphones|Wii U|Headsets|Atari Lynx|Accessory Kits|Casual Games|Interactive Gaming Figures|Memory|Intellivision|NEOGEO Pocket|Nintendo DS|TurboGrafx 16|PlayStation Vita|Video Games|Digital Games|PC Game Downloads|Mac|Sensor Bars|Atari Jaguar|Flight Controls|Currency Cards|Games|Super Nintendo|Wii|Hardware|Gaming Mice|Sega Saturn|Cables|Gaming Keyboards| id|
+----------+-----+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+---+
|0078764343|37.98|Video Games|      28655|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     1.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  0|
|043933702X| 23.5|Video Games|      44080|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  1|
|0439339987| 8.95|Video Games|      49836|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  2|
|0439342260|  NaN|Video Games|      49156|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  3|
|0439339960|  NaN|Video Games|      52262|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  4|
|0439374391| 20.0|Video Games|      59834|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  5|
|0439394422|12.96|Video Games|      36531|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|1.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  6|
|043940133X| 30.0|Video Games|      17910|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|1.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  7|
|0439573947|10.79|Video Games|      42130|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  8|
|0439591295|  NaN|Video Games|      12108|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0|  9|
|0439591368|19.95|Video Games|       7367|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 10|
|0439591538| 8.99|Video Games|      35302|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 11|
|0439671418|89.99|Video Games|      51360|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 12|

In [92]:
print len(df_meta2.columns)

100

## Merging review data and Meta data
Again, We will use SQL query to join two dataframe by asin feature.  
After joining I want to filter the joined data by ranked_keys.  
the ranked_keys contains information regarding category that product is ranked in.  
I do not want to include products that are ranked in the category that is not related to  Video Games.  
So Before I merge dataframes, let me look at ranked_keys with following SQL query.

In [72]:
df_meta2.registerTempTable('meta')
result.registerTempTable('review')

In [73]:
print result.count()

13792

In [42]:
cat = hc.sql('SELECT rank_keys, COUNT(rank_keys) AS count FROM meta GROUP BY meta.rank_keys ORDER BY count DESC')
cat.distinct().show()

+--------------------+-----+
|           rank_keys|count|
+--------------------+-----+
|         Video Games|47604|
|            Software| 2236|
|         Electronics|  757|
|        Toys & Games|  148|
|            Clothing|   41|
|Sports &amp; Outd...|   36|
|  Home &amp; Kitchen|   26|
|         Movies & TV|   22|
|Cell Phones & Acc...|   17|
|  Camera &amp; Photo|   14|
|               Music|   12|
|Computers & Acces...|   10|
| Musical Instruments|    9|
|Health & Personal...|    4|
|Arts, Crafts & Se...|    4|
|Industrial & Scie...|    2|
|Patio, Lawn & Garden|    2|
|    Kitchen & Dining|    2|
|               Shoes|    2|
|              Beauty|    2|
+--------------------+-----+
only showing top 20 rows

Now you see why we want to filter by rank_keys.   
I am working with video game product reviews so  
I can probably take out reviews for product that are in shoes or kitchen & Dining categories.    
I want to work with categories that are closly related to video games!  
If we filter ranked_keys by total number of product in the category > 50....

In [35]:
cat2 = hc.sql('SELECT rank_keys, COUNT(rank_keys) AS count FROM meta GROUP BY meta.rank_keys Having COUNT(rank_keys)>50')
cat2.distinct().show()

+------------+-----+
|   rank_keys|count|
+------------+-----+
|Toys & Games|  148|
| Video Games|47604|
| Electronics|  757|
|    Software| 2236|
+------------+-----+

Let's just use products that are ranked in these 4 categories.  
I set up a another SQL query with window function that will filter data by the count of rank_keys.  
If count(rank_keys) over (partition by rank_kyes) > 100 it will save data as meta_filtered.

In [48]:
meta_filtered = hc.sql('SELECT sub.* FROM (SELECT meta.*, COUNT(rank_keys) OVER(PARTITION BY rank_keys) AS count_cat FROM meta) sub WHERE count_cat >100')
meta_filtered = meta_filtered.drop('count_cat')

In [49]:
#double check if my code above is working...
set(meta_filtered.select('rank_keys').collect())

{Row(rank_keys=u'Electronics'),
 Row(rank_keys=u'Software'),
 Row(rank_keys=u'Toys & Games'),
 Row(rank_keys=u'Video Games')}

In [53]:
print meta_filtered.count()

50745

It works!

Now that we know what rank_keys to use to filter, lets add one more way to filter data while merging.  
I am filtering this dataset by reviews that have more than 100 review votes.

In [82]:
query ='''
SELECT R.reviewText,R.overall, R.helpful_total_votes, R.num_of_helpful_votes, 
R.helpful_percentage, R.Text_length, meta_2.*
FROM review as R JOIN (SELECT meta.*, COUNT(rank_keys) OVER(PARTITION BY rank_keys) AS count_cat FROM meta) meta_2 
ON R.asin = meta_2.asin 
WHERE R.helpful_total_votes>100 AND meta_2.count_cat >100''' 
result2 = hc.sql(query)

In [84]:
#take out id column for result2. when meta data was merged with review data,  
#It no longer function as an id. so we need to delete it and assign new id.
result2 = result2.drop("id","count_cat")
result2 = result2.withColumn("id", monotonically_increasing_id())

In [93]:
print((result2.count(), len(result2.columns)))

(4739, 106)

In [95]:
set (result2.select('rank_keys').collect())

{Row(rank_keys=u'Electronics'),
 Row(rank_keys=u'Software'),
 Row(rank_keys=u'Video Games')}

#### 5. Making dummy variables for rank_keys
I know that the purpose of this project is to run my previous project codes in Spark.  
But I now realize that some functions and code should be kept in python not Pyspark.  
This is a good example. Pandas have their built-in function for dummy variables called get_dummies.  
Pyspark... you need to built your own dummy variable function.  
Yes, Its not hard to code that. But Is it more efficient than the pandas built-in function...?  
For the cleaness purpose, I'm just going to use pandas for this work.

In [98]:
#converting Spark dataframe to pandas dataframe
panda_result=result2.toPandas()

In [99]:
#dum is the dummie variables for rank_keys
dum = pd.get_dummies(panda_result.rank_keys, drop_first=True)
panda_result2 = pd.concat([panda_result,dum], axis = 1)
dum2 =pd.concat([panda_result.id,dum], axis = 1)

In [100]:
print set(panda_result.rank_keys)
print dum.columns

set([u'Electronics', u'Video Games', u'Software'])
Index([u'Software', u'Video Games'], dtype='object')

In [82]:
#lets turn the df back to spark dataframe.
merged_df_sp = hc.createDataFrame(panda_result2)

ValueError: name already used as a name or title

No bueno :(  
Since setting up a schema for over 100 features would kill my time,  
I guess I will convert "dum" pandas dataframe which only contains 2 features  
and merge 2 using sparkSQL.

In [106]:
#making a schema for dum
dum_schema = StructType([
        StructField('id', IntegerType(), True),
        StructField(dum.columns[0], IntegerType(), True),
        StructField(dum.columns[1], IntegerType(), True)])

In [107]:
dum_spark = hc.createDataFrame(dum2)

In [108]:
dum_spark.show()

+---+--------+-----------+
| id|Software|Video Games|
+---+--------+-----------+
|  0|       0|          1|
|  1|       0|          0|
|  2|       0|          1|
|  3|       0|          1|
|  4|       0|          1|
|  5|       0|          1|
|  6|       0|          1|
|  7|       0|          1|
|  8|       0|          1|
|  9|       0|          1|
| 10|       0|          1|
| 11|       0|          1|
| 12|       0|          1|
| 13|       0|          1|
| 14|       0|          1|
| 15|       0|          1|
| 16|       0|          1|
| 17|       0|          1|
| 18|       0|          1|
| 19|       0|          1|
+---+--------+-----------+
only showing top 20 rows

In [87]:
dum_spark.select("id").collect()

[Row(id=0),
 Row(id=1),
 Row(id=2),
 Row(id=3),
 Row(id=4),
 Row(id=5),
 Row(id=6),
 Row(id=7),
 Row(id=8),
 Row(id=9),
 Row(id=10),
 Row(id=11),
 Row(id=12),
 Row(id=13),
 Row(id=14),
 Row(id=15),
 Row(id=16),
 Row(id=17),
 Row(id=18),
 Row(id=19),
 Row(id=20),
 Row(id=8589934592),
 Row(id=8589934593),
 Row(id=8589934594),
 Row(id=8589934595),
 Row(id=8589934596),
 Row(id=8589934597),
 Row(id=8589934598),
 Row(id=8589934599),
 Row(id=8589934600),
 Row(id=8589934601),
 Row(id=8589934602),
 Row(id=8589934603),
 Row(id=8589934604),
 Row(id=8589934605),
 Row(id=8589934606),
 Row(id=8589934607),
 Row(id=8589934608),
 Row(id=8589934609),
 Row(id=17179869184),
 Row(id=17179869185),
 Row(id=17179869186),
 Row(id=17179869187),
 Row(id=17179869188),
 Row(id=17179869189),
 Row(id=17179869190),
 Row(id=17179869191),
 Row(id=17179869192),
 Row(id=17179869193),
 Row(id=17179869194),
 Row(id=17179869195),
 Row(id=17179869196),
 Row(id=17179869197),
 Row(id=17179869198),
 Row(id=17179869199),
 Row(id=17179869200),
 Row(id=25769803776),
 Row(id=25769803777),
 Row(id=25769803778),
 Row(id=25769803779),
 Row(id=25769803780),
 Row(id=25769803781),
 Row(id=25769803782),
 Row(id=25769803783),
 Row(id=25769803784),
 Row(id=25769803785),
 Row(id=25769803786),
 Row(id=25769803787),
 Row(id=25769803788),
 Row(id=34359738368),
 Row(id=34359738369),
 Row(id=34359738370),
 Row(id=34359738371),
 Row(id=34359738372),
 Row(id=34359738373),
 Row(id=34359738374),
 Row(id=34359738375),
 Row(id=34359738376),
 Row(id=34359738377),
 Row(id=34359738378),
 Row(id=34359738379),
 Row(id=42949672960),
 Row(id=42949672961),
 Row(id=42949672962),
 Row(id=42949672963),
 Row(id=42949672964),
 Row(id=42949672965),
 Row(id=42949672966),
 Row(id=42949672967),
 Row(id=42949672968),
 Row(id=42949672969),
 Row(id=42949672970),
 Row(id=42949672971),
 Row(id=42949672972),
 Row(id=42949672973),
 Row(id=42949672974),
 Row(id=42949672975),
 Row(id=42949672976),
 Row(id=42949672977),
 Row(id=42949672978),
 Row(id=51539607552),
 Row(id=51539607553),
 Row(id=51539607554),
 Row(id=51539607555),
 Row(id=51539607556),
 Row(id=51539607557),
 Row(id=51539607558),
 Row(id=51539607559),
 Row(id=51539607560),
 Row(id=51539607561),
 Row(id=51539607562),
 Row(id=51539607563),
 Row(id=51539607564),
 Row(id=51539607565),
 Row(id=51539607566),
 Row(id=51539607567),
 Row(id=60129542144),
 Row(id=60129542145),
 Row(id=60129542146),
 Row(id=60129542147),
 Row(id=60129542148),
 Row(id=60129542149),
 Row(id=60129542150),
 Row(id=60129542151),
 Row(id=60129542152),
 Row(id=60129542153),
 Row(id=60129542154),
 Row(id=60129542155),
 Row(id=60129542156),
 Row(id=60129542157),
 Row(id=60129542158),
 Row(id=68719476736),
 Row(id=68719476737),
 Row(id=68719476738),
 Row(id=68719476739),
 Row(id=68719476740),
 Row(id=68719476741),
 Row(id=68719476742),
 Row(id=68719476743),
 Row(id=68719476744),
 Row(id=68719476745),
 Row(id=68719476746),
 Row(id=68719476747),
 Row(id=68719476748),
 Row(id=68719476749),
 Row(id=68719476750),
 Row(id=68719476751),
 Row(id=68719476752),
 Row(id=68719476753),
 Row(id=68719476754),
 Row(id=68719476755),
 Row(id=68719476756),
 Row(id=68719476757),
 Row(id=68719476758),
 Row(id=68719476759),
 Row(id=68719476760),
 Row(id=68719476761),
 Row(id=68719476762),
 Row(id=68719476763),
 Row(id=68719476764),
 Row(id=68719476765),
 Row(id=68719476766),
 Row(id=68719476767),
 Row(id=68719476768),
 Row(id=77309411328),
 Row(id=77309411329),
 Row(id=77309411330),
 Row(id=77309411331),
 Row(id=77309411332),
 Row(id=77309411333),
 Row(id=77309411334),
 Row(id=77309411335),
 Row(id=77309411336),
 Row(id=77309411337),
 Row(id=77309411338),
 Row(id=77309411339),
 Row(id=77309411340),
 Row(id=77309411341),
 Row(id=77309411342),
 Row(id=77309411343),
 Row(id=77309411344),
 Row(id=77309411345),
 Row(id=77309411346),
 Row(id=85899345920),
 Row(id=85899345921),
 Row(id=85899345922),
 Row(id=85899345923),
 Row(id=85899345924),
 Row(id=85899345925),
 Row(id=85899345926),
 Row(id=85899345927),
 Row(id=85899345928),
 Row(id=85899345929),
 Row(id=85899345930),
 Row(id=85899345931),
 Row(id=85899345932),
 Row(id=85899345933),
 Row(id=85899345934),
 Row(id=85899345935),
 Row(id=94489280512),
 Row(id=94489280513),
 Row(id=94489280514),
 Row(id=94489280515),
 Row(id=94489280516),
 Row(id=94489280517),
 Row(id=94489280518),
 Row(id=94489280519),
 Row(id=94489280520),
 Row(id=94489280521),
 Row(id=94489280522),
 Row(id=94489280523),
 Row(id=94489280524),
 Row(id=94489280525),
 Row(id=103079215104),
 Row(id=103079215105),
 Row(id=103079215106),
 Row(id=103079215107),
 Row(id=103079215108),
 Row(id=103079215109),
 Row(id=103079215110),
 Row(id=103079215111),
 Row(id=103079215112),
 Row(id=103079215113),
 Row(id=103079215114),
 Row(id=103079215115),
 Row(id=103079215116),
 Row(id=103079215117),
 Row(id=103079215118),
 Row(id=103079215119),
 Row(id=103079215120),
 Row(id=103079215121),
 Row(id=111669149696),
 Row(id=111669149697),
 Row(id=111669149698),
 Row(id=111669149699),
 Row(id=111669149700),
 Row(id=111669149701),
 Row(id=111669149702),
 Row(id=111669149703),
 Row(id=111669149704),
 Row(id=111669149705),
 Row(id=111669149706),
 Row(id=111669149707),
 Row(id=111669149708),
 Row(id=111669149709),
 Row(id=111669149710),
 Row(id=111669149711),
 Row(id=111669149712),
 Row(id=111669149713),
 Row(id=111669149714),
 Row(id=111669149715),
 Row(id=111669149716),
 Row(id=111669149717),
 Row(id=111669149718),
 Row(id=111669149719),
 Row(id=111669149720),
 Row(id=111669149721),
 Row(id=111669149722),
 Row(id=120259084288),
 Row(id=120259084289),
 Row(id=120259084290),
 Row(id=120259084291),
 Row(id=120259084292),
 Row(id=120259084293),
 Row(id=120259084294),
 Row(id=120259084295),
 Row(id=120259084296),
 Row(id=120259084297),
 Row(id=128849018880),
 Row(id=128849018881),
 Row(id=128849018882),
 Row(id=128849018883),
 Row(id=128849018884),
 Row(id=128849018885),
 Row(id=128849018886),
 Row(id=128849018887),
 Row(id=128849018888),
 Row(id=128849018889),
 Row(id=128849018890),
 Row(id=128849018891),
 Row(id=128849018892),
 Row(id=128849018893),
 Row(id=128849018894),
 Row(id=128849018895),
 Row(id=128849018896),
 Row(id=128849018897),
 Row(id=128849018898),
 Row(id=128849018899),
 Row(id=128849018900),
 Row(id=128849018901),
 Row(id=128849018902),
 Row(id=128849018903),
 Row(id=128849018904),
 Row(id=128849018905),
 Row(id=128849018906),
 Row(id=128849018907),
 Row(id=128849018908),
 Row(id=128849018909),
 Row(id=128849018910),
 Row(id=128849018911),
 Row(id=128849018912),
 Row(id=128849018913),
 Row(id=128849018914),
 Row(id=128849018915),
 Row(id=128849018916),
 Row(id=128849018917),
 Row(id=128849018918),
 Row(id=128849018919),
 Row(id=128849018920),
 Row(id=128849018921),
 Row(id=128849018922),
 Row(id=128849018923),
 Row(id=128849018924),
 Row(id=128849018925),
 Row(id=128849018926),
 Row(id=128849018927),
 Row(id=128849018928),
 Row(id=128849018929),
 Row(id=128849018930),
 Row(id=128849018931),
 Row(id=128849018932),
 Row(id=128849018933),
 Row(id=128849018934),
 Row(id=128849018935),
 Row(id=128849018936),
 Row(id=128849018937),
 Row(id=128849018938),
 Row(id=128849018939),
 Row(id=128849018940),
 Row(id=128849018941),
 Row(id=128849018942),
 Row(id=128849018943),
 Row(id=128849018944),
 Row(id=128849018945),
 Row(id=128849018946),
 Row(id=128849018947),
 Row(id=128849018948),
 Row(id=128849018949),
 Row(id=128849018950),
 Row(id=128849018951),
 Row(id=128849018952),
 Row(id=128849018953),
 Row(id=128849018954),
 Row(id=128849018955),
 Row(id=128849018956),
 Row(id=137438953472),
 Row(id=137438953473),
 Row(id=137438953474),
 Row(id=137438953475),
 Row(id=137438953476),
 Row(id=137438953477),
 Row(id=137438953478),
 Row(id=137438953479),
 Row(id=137438953480),
 Row(id=137438953481),
 Row(id=137438953482),
 Row(id=137438953483),
 Row(id=137438953484),
 Row(id=137438953485),
 Row(id=137438953486),
 Row(id=137438953487),
 Row(id=137438953488),
 Row(id=146028888064),
 Row(id=146028888065),
 Row(id=146028888066),
 Row(id=146028888067),
 Row(id=146028888068),
 Row(id=146028888069),
 Row(id=146028888070),
 Row(id=146028888071),
 Row(id=146028888072),
 Row(id=146028888073),
 Row(id=146028888074),
 Row(id=146028888075),
 Row(id=146028888076),
 Row(id=146028888077),
 Row(id=146028888078),
 Row(id=154618822656),
 Row(id=154618822657),
 Row(id=154618822658),
 Row(id=154618822659),
 Row(id=154618822660),
 Row(id=154618822661),
 Row(id=154618822662),
 Row(id=154618822663),
 Row(id=154618822664),
 Row(id=154618822665),
 Row(id=163208757248),
 Row(id=163208757249),
 Row(id=163208757250),
 Row(id=163208757251),
 Row(id=163208757252),
 Row(id=163208757253),
 Row(id=163208757254),
 Row(id=163208757255),
 Row(id=163208757256),
 Row(id=163208757257),
 Row(id=163208757258),
 Row(id=163208757259),
 Row(id=163208757260),
 Row(id=163208757261),
 Row(id=171798691840),
 Row(id=171798691841),
 Row(id=171798691842),
 Row(id=171798691843),
 Row(id=171798691844),
 Row(id=171798691845),
 Row(id=171798691846),
 Row(id=171798691847),
 Row(id=171798691848),
 Row(id=171798691849),
 Row(id=171798691850),
 Row(id=171798691851),
 Row(id=171798691852),
 Row(id=171798691853),
 Row(id=171798691854),
 Row(id=171798691855),
 Row(id=171798691856),
 Row(id=171798691857),
 Row(id=171798691858),
 Row(id=171798691859),
 Row(id=171798691860),
 Row(id=180388626432),
 Row(id=180388626433),
 Row(id=180388626434),
 Row(id=180388626435),
 Row(id=180388626436),
 Row(id=180388626437),
 Row(id=180388626438),
 Row(id=180388626439),
 Row(id=180388626440),
 Row(id=180388626441),
 Row(id=180388626442),
 Row(id=180388626443),
 Row(id=180388626444),
 Row(id=180388626445),
 Row(id=188978561024),
 Row(id=188978561025),
 Row(id=188978561026),
 Row(id=188978561027),
 Row(id=188978561028),
 Row(id=188978561029),
 Row(id=188978561030),
 Row(id=188978561031),
 Row(id=188978561032),
 Row(id=197568495616),
 Row(id=197568495617),
 Row(id=197568495618),
 Row(id=197568495619),
 Row(id=197568495620),
 Row(id=197568495621),
 Row(id=197568495622),
 Row(id=197568495623),
 Row(id=197568495624),
 Row(id=197568495625),
 Row(id=197568495626),
 Row(id=197568495627),
 Row(id=197568495628),
 Row(id=206158430208),
 Row(id=206158430209),
 Row(id=206158430210),
 Row(id=206158430211),
 Row(id=206158430212),
 Row(id=206158430213),
 Row(id=206158430214),
 Row(id=206158430215),
 Row(id=206158430216),
 Row(id=206158430217),
 Row(id=206158430218),
 Row(id=206158430219),
 Row(id=206158430220),
 Row(id=206158430221),
 Row(id=214748364800),
 Row(id=214748364801),
 Row(id=214748364802),
 Row(id=214748364803),
 Row(id=214748364804),
 Row(id=214748364805),
 Row(id=214748364806),
 Row(id=214748364807),
 Row(id=214748364808),
 Row(id=214748364809),
 Row(id=214748364810),
 Row(id=214748364811),
 Row(id=214748364812),
 Row(id=214748364813),
 Row(id=214748364814),
 Row(id=214748364815),
 Row(id=214748364816),
 Row(id=214748364817),
 Row(id=223338299392),
 Row(id=223338299393),
 Row(id=223338299394),
 Row(id=223338299395),
 Row(id=223338299396),
 Row(id=223338299397),
 Row(id=223338299398),
 Row(id=223338299399),
 Row(id=223338299400),
 Row(id=223338299401),
 Row(id=223338299402),
 Row(id=223338299403),
 Row(id=223338299404),
 Row(id=223338299405),
 Row(id=223338299406),
 Row(id=223338299407),
 Row(id=223338299408),
 Row(id=223338299409),
 Row(id=223338299410),
 Row(id=223338299411),
 Row(id=223338299412),
 Row(id=223338299413),
 Row(id=223338299414),
 Row(id=223338299415),
 Row(id=223338299416),
 Row(id=223338299417),
 Row(id=223338299418),
 Row(id=231928233984),
 Row(id=231928233985),
 Row(id=231928233986),
 Row(id=231928233987),
 Row(id=231928233988),
 Row(id=231928233989),
 Row(id=231928233990),
 Row(id=231928233991),
 Row(id=231928233992),
 Row(id=231928233993),
 Row(id=231928233994),
 Row(id=231928233995),
 Row(id=231928233996),
 Row(id=231928233997),
 Row(id=231928233998),
 Row(id=231928233999),
 Row(id=231928234000),
 Row(id=231928234001),
 Row(id=231928234002),
 Row(id=231928234003),
 Row(id=240518168576),
 Row(id=240518168577),
 Row(id=240518168578),
 Row(id=240518168579),
 Row(id=240518168580),
 Row(id=240518168581),
 Row(id=240518168582),
 Row(id=240518168583),
 Row(id=240518168584),
 Row(id=240518168585),
 Row(id=240518168586),
 Row(id=240518168587),
 Row(id=240518168588),
 Row(id=240518168589),
 Row(id=240518168590),
 Row(id=240518168591),
 Row(id=240518168592),
 Row(id=240518168593),
 Row(id=240518168594),
 Row(id=240518168595),
 Row(id=240518168596),
 Row(id=240518168597),
 Row(id=240518168598),
 Row(id=240518168599),
 Row(id=249108103168),
 Row(id=249108103169),
 Row(id=249108103170),
 Row(id=249108103171),
 Row(id=249108103172),
 Row(id=249108103173),
 Row(id=249108103174),
 Row(id=249108103175),
 Row(id=249108103176),
 Row(id=249108103177),
 Row(id=249108103178),
 Row(id=249108103179),
 Row(id=249108103180),
 Row(id=257698037760),
 Row(id=257698037761),
 Row(id=257698037762),
 Row(id=257698037763),
 Row(id=257698037764),
 Row(id=257698037765),
 Row(id=257698037766),
 Row(id=257698037767),
 Row(id=257698037768),
 Row(id=257698037769),
 Row(id=257698037770),
 Row(id=257698037771),
 Row(id=257698037772),
 Row(id=257698037773),
 Row(id=257698037774),
 Row(id=257698037775),
 Row(id=257698037776),
 Row(id=257698037777),
 Row(id=257698037778),
 Row(id=257698037779),
 Row(id=257698037780),
 Row(id=257698037781),
 Row(id=257698037782),
 Row(id=257698037783),
 Row(id=257698037784),
 Row(id=257698037785),
 Row(id=257698037786),
 Row(id=257698037787),
 Row(id=266287972352),
 Row(id=266287972353),
 Row(id=266287972354),
 Row(id=266287972355),
 Row(id=266287972356),
 Row(id=266287972357),
 Row(id=266287972358),
 Row(id=266287972359),
 Row(id=266287972360),
 Row(id=266287972361),
 Row(id=266287972362),
 Row(id=274877906944),
 Row(id=274877906945),
 Row(id=274877906946),
 Row(id=274877906947),
 Row(id=274877906948),
 Row(id=274877906949),
 Row(id=274877906950),
 Row(id=274877906951),
 Row(id=274877906952),
 Row(id=274877906953),
 Row(id=274877906954),
 Row(id=274877906955),
 Row(id=274877906956),
 Row(id=274877906957),
 Row(id=274877906958),
 Row(id=274877906959),
 Row(id=274877906960),
 Row(id=274877906961),
 Row(id=274877906962),
 Row(id=274877906963),
 Row(id=274877906964),
 Row(id=274877906965),
 Row(id=274877906966),
 Row(id=274877906967),
 Row(id=274877906968),
 Row(id=274877906969),
 Row(id=274877906970),
 Row(id=274877906971),
 Row(id=274877906972),
 Row(id=274877906973),
 Row(id=274877906974),
 Row(id=274877906975),
 Row(id=274877906976),
 Row(id=274877906977),
 Row(id=274877906978),
 Row(id=274877906979),
 Row(id=274877906980),
 Row(id=274877906981),
 Row(id=274877906982),
 Row(id=274877906983),
 Row(id=274877906984),
 Row(id=274877906985),
 Row(id=274877906986),
 Row(id=274877906987),
 Row(id=274877906988),
 Row(id=274877906989),
 Row(id=274877906990),
 Row(id=274877906991),
 Row(id=274877906992),
 Row(id=274877906993),
 Row(id=274877906994),
 Row(id=274877906995),
 Row(id=274877906996),
 Row(id=274877906997),
 Row(id=274877906998),
 Row(id=274877906999),
 Row(id=274877907000),
 Row(id=274877907001),
 Row(id=274877907002),
 Row(id=274877907003),
 Row(id=274877907004),
 Row(id=274877907005),
 Row(id=274877907006),
 Row(id=274877907007),
 Row(id=274877907008),
 Row(id=274877907009),
 Row(id=274877907010),
 Row(id=274877907011),
 Row(id=274877907012),
 Row(id=274877907013),
 Row(id=274877907014),
 Row(id=274877907015),
 Row(id=274877907016),
 Row(id=274877907017),
 Row(id=274877907018),
 Row(id=274877907019),
 Row(id=274877907020),
 Row(id=274877907021),
 Row(id=274877907022),
 Row(id=274877907023),
 Row(id=274877907024),
 Row(id=274877907025),
 Row(id=274877907026),
 Row(id=274877907027),
 Row(id=283467841536),
 Row(id=283467841537),
 Row(id=283467841538),
 Row(id=283467841539),
 Row(id=283467841540),
 Row(id=283467841541),
 Row(id=283467841542),
 Row(id=283467841543),
 Row(id=283467841544),
 Row(id=283467841545),
 Row(id=283467841546),
 Row(id=283467841547),
 Row(id=283467841548),
 Row(id=283467841549),
 Row(id=283467841550),
 Row(id=283467841551),
 Row(id=292057776128),
 Row(id=292057776129),
 Row(id=292057776130),
 Row(id=292057776131),
 Row(id=292057776132),
 Row(id=292057776133),
 Row(id=292057776134),
 Row(id=292057776135),
 Row(id=292057776136),
 Row(id=292057776137),
 Row(id=292057776138),
 Row(id=292057776139),
 Row(id=292057776140),
 Row(id=300647710720),
 Row(id=300647710721),
 Row(id=300647710722),
 Row(id=300647710723),
 Row(id=300647710724),
 Row(id=300647710725),
 Row(id=300647710726),
 Row(id=309237645312),
 Row(id=309237645313),
 Row(id=309237645314),
 Row(id=309237645315),
 Row(id=309237645316),
 Row(id=309237645317),
 Row(id=309237645318),
 Row(id=309237645319),
 Row(id=309237645320),
 Row(id=309237645321),
 Row(id=309237645322),
 Row(id=309237645323),
 Row(id=309237645324),
 Row(id=309237645325),
 Row(id=309237645326),
 Row(id=309237645327),
 Row(id=309237645328),
 Row(id=309237645329),
 Row(id=309237645330),
 Row(id=309237645331),
 Row(id=309237645332),
 Row(id=309237645333),
 Row(id=309237645334),
 Row(id=309237645335),
 Row(id=309237645336),
 Row(id=309237645337),
 Row(id=309237645338),
 Row(id=309237645339),
 Row(id=309237645340),
 Row(id=309237645341),
 Row(id=309237645342),
 Row(id=309237645343),
 Row(id=309237645344),
 Row(id=309237645345),
 Row(id=309237645346),
 Row(id=309237645347),
 Row(id=309237645348),
 Row(id=309237645349),
 Row(id=309237645350),
 Row(id=309237645351),
 Row(id=309237645352),
 Row(id=309237645353),
 Row(id=309237645354),
 Row(id=309237645355),
 Row(id=309237645356),
 Row(id=309237645357),
 Row(id=309237645358),
 Row(id=309237645359),
 Row(id=317827579904),
 Row(id=317827579905),
 Row(id=317827579906),
 Row(id=317827579907),
 Row(id=317827579908),
 Row(id=317827579909),
 Row(id=317827579910),
 Row(id=317827579911),
 Row(id=317827579912),
 Row(id=317827579913),
 Row(id=317827579914),
 Row(id=317827579915),
 Row(id=326417514496),
 Row(id=326417514497),
 Row(id=326417514498),
 Row(id=326417514499),
 Row(id=326417514500),
 Row(id=326417514501),
 Row(id=326417514502),
 Row(id=326417514503),
 Row(id=326417514504),
 Row(id=326417514505),
 Row(id=326417514506),
 Row(id=326417514507),
 Row(id=326417514508),
 Row(id=326417514509),
 Row(id=326417514510),
 Row(id=326417514511),
 Row(id=326417514512),
 Row(id=326417514513),
 Row(id=326417514514),
 Row(id=326417514515),
 Row(id=326417514516),
 Row(id=326417514517),
 Row(id=326417514518),
 Row(id=326417514519),
 Row(id=326417514520),
 Row(id=326417514521),
 Row(id=326417514522),
 Row(id=326417514523),
 Row(id=326417514524),
 Row(id=326417514525),
 Row(id=326417514526),
 Row(id=326417514527),
 Row(id=326417514528),
 Row(id=326417514529),
 Row(id=326417514530),
 Row(id=326417514531),
 Row(id=326417514532),
 Row(id=326417514533),
 Row(id=326417514534),
 Row(id=326417514535),
 Row(id=326417514536),
 Row(id=326417514537),
 Row(id=326417514538),
 Row(id=326417514539),
 Row(id=326417514540),
 Row(id=326417514541),
 Row(id=326417514542),
 Row(id=326417514543),
 Row(id=326417514544),
 Row(id=326417514545),
 Row(id=326417514546),
 Row(id=326417514547),
 Row(id=326417514548),
 Row(id=326417514549),
 Row(id=326417514550),
 Row(id=326417514551),
 Row(id=326417514552),
 Row(id=326417514553),
 Row(id=326417514554),
 Row(id=326417514555),
 Row(id=326417514556),
 Row(id=326417514557),
 Row(id=326417514558),
 Row(id=326417514559),
 Row(id=326417514560),
 Row(id=326417514561),
 Row(id=326417514562),
 Row(id=326417514563),
 Row(id=326417514564),
 Row(id=326417514565),
 Row(id=326417514566),
 Row(id=326417514567),
 Row(id=326417514568),
 Row(id=326417514569),
 Row(id=326417514570),
 Row(id=326417514571),
 Row(id=326417514572),
 Row(id=326417514573),
 Row(id=326417514574),
 Row(id=326417514575),
 Row(id=326417514576),
 Row(id=326417514577),
 Row(id=326417514578),
 Row(id=326417514579),
 Row(id=326417514580),
 Row(id=326417514581),
 Row(id=326417514582),
 Row(id=326417514583),
 Row(id=326417514584),
 Row(id=326417514585),
 Row(id=326417514586),
 Row(id=326417514587),
 Row(id=326417514588),
 Row(id=326417514589),
 Row(id=326417514590),

In [114]:
from pyspark.sql.functions import col
dum_spark = dum_spark.select(col("id"),col("Software"),col("Video Games").alias("Video_Games"))
dum_spark.show()

+---+--------+-----------+
| id|Software|Video_Games|
+---+--------+-----------+
|  0|       0|          1|
|  1|       0|          0|
|  2|       0|          1|
|  3|       0|          1|
|  4|       0|          1|
|  5|       0|          1|
|  6|       0|          1|
|  7|       0|          1|
|  8|       0|          1|
|  9|       0|          1|
| 10|       0|          1|
| 11|       0|          1|
| 12|       0|          1|
| 13|       0|          1|
| 14|       0|          1|
| 15|       0|          1|
| 16|       0|          1|
| 17|       0|          1|
| 18|       0|          1|
| 19|       0|          1|
+---+--------+-----------+
only showing top 20 rows

In [115]:
print((dum_spark.count(), len(dum_spark.columns)))

(4739, 3)

In [94]:
print((result2.count(), len(result2.columns)))

(4739, 106)

In [95]:
result2.select("id").show()

+---+
| id|
+---+
|  0|
|  1|
|  2|
|  3|
|  4|
|  5|
|  6|
|  7|
|  8|
|  9|
| 10|
| 11|
| 12|
| 13|
| 14|
| 15|
| 16|
| 17|
| 18|
| 19|
+---+
only showing top 20 rows

In [57]:
print((testdf.count(), len(testdf.columns)))

(4739, 105)

In [117]:
#merging two tables
dum_spark.registerTempTable('dummy')
result2.registerTempTable('merged_df')

df_merged = hc.sql('''
SELECT m.*, dum.software, dum.Video_Games FROM merged_df AS m JOIN dummy AS dum ON m.id=dum.id''')

In [118]:
df_merged.show()

+--------------------+-------+-------------------+--------------------+------------------+-----------+----------+------+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+-------------+--------+-----------+
|          reviewText|overall|helpful_total_votes|num_of_helpful_votes|helpful_percentage|Text_length|      asin| price|  rank_keys|rank_values|num_category|Screen Protectors|PlayStation 4|PlayStation 3|PlayStation 2|Game Boy Advance|Joysticks|GameCube|Commodore Amiga|3DO|Cases & Protectors|More Systems|Sony PSP|LIVE|Sega Master System|Fitness Accessories|Subscription Cards|Points & Currency Cards|Atari 2600|Controllers|Light Guns|Nintendo 64|Nintendo 3DS|Linux Games|Accessories|Skins|Steering Wheels|Racing Wheels|PlayStation|Networking|Atari 7800|Xbox 360|Chargers|Kids & Family|ColecoVision|Gamepads|Digital Games & DLC| PC|Consoles|Game Boy Color|Nintendo NES|Drums|MMO & Free-to-Play Games|Xbox|Sega CD|Faceplates|Game Boy|Adapters|Batteries|Fire TV|Sega Genesis|Speakers|Batteries & Chargers|Mac Game Downloads|Sega Game Gear|PDAs|Sega Dreamcast|Remotes|Xbox One|Dance Mats|Atari 5200|Keyboards|Downloadable Content|Cables & Adapters|Guitars|Commodore 64|Microphones|Wii U|Headsets|Atari Lynx|Accessory Kits|Casual Games|Interactive Gaming Figures|Memory|Intellivision|NEOGEO Pocket|Nintendo DS|TurboGrafx 16|PlayStation Vita|Video Games|Digital Games|PC Game Downloads|Mac|Sensor Bars|Atari Jaguar|Flight Controls|Currency Cards|Games|Super Nintendo|Wii|Hardware|Gaming Mice|Sega Saturn|Cables|Gaming Keyboards|           id|software|Video_Games|
+--------------------+-------+-------------------+--------------------+------------------+-----------+----------+------+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+-------------+--------+-----------+
|First off, the re...|    4.0|                104|                  85|              0.82|        829|B000HZFCT2| 19.99|Video Games|         99|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     1.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 137438953476|       0|          1|
|If you have a Gam...|    5.0|                109|                 102|              0.94|        898|B00012D0SG| 19.99|Video Games|        290|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     1.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     1.0|        0.0|        0.0|   0.0|             0.0| 146028888066|       0|          1|
|Greatness is a wo...|    5.0|                237|                 196|              0.83|       7046|B004EQCCI4| 19.99|Video Games|        632|           1|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 231928233998|       0|          1|
|This item is high...|    4.0|                111|                 109|              0.98|        690|B00004YMSV| 13.98|Video Games|      52453|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           1.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 377957122049|       0|          1|
|In less then twel...|    1.0|                118|                  16|              0.14|        528|B0050SWBAE| 59.99|Video Games|        532|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  1.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 412316860436|       0|          1|
|Awesome for kids ...|    5.0|                456|                 405|              0.89|        112|B00DJFIMW6|   NaN|Video Games|     131442|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    1.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          1.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 455266533408|       0|          1|
|Infamous is a gre...|    5.0|                180|                 168|              0.93|       2096|B000ZK7ZOE| 29.99|Video Games|       1288|           1|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 463856467978|       0|          1|
|ok, the only reas...|    1.0|                139|                  22|              0.16|        270|B00006LEM3| 74.99|Video Games|       9463|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 1.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 790273982468|       0|          1|
|I've had the Trit...|    3.0|                125|                 103|              0.82|       3646|B003O6N64Y|174.99|Video Games|       6852|           2|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     1.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     1.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 798863917073|       0|          1|
|I originally boug...|    5.0|                118|                 113|              0.96|       1838|B003P8O16S| 19.99|Video Games|       3378|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|1.0|     0.0|        0.0|        0.0|   0.0|             0.0| 919123001375|       0|          1|
|This highly addic...|    5.0|                147|                 142|              0.97|        430|B0002YIDAS|  6.98|   Software|       3497|           3|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 936302870530|       1|          0|

In [119]:
print((df_merged.count(), len(df_merged.columns)))

(4739, 108)

## saving and loading my dataframe

In [120]:
df_merged.write.csv('test.csv', mode="overwrite", header=True)

In [55]:
df = spark.read.csv('test.csv', header=True, inferSchema=True)

In [3]:
print((df.count(), len(df.columns)))

(4739, 108)

In [129]:
df_merged.write.json('test.json', mode="overwrite")
df_json = spark.read.json('test.json')

## Price

Here, I want to deal with Price columns.  
When I worked on Price column previously I replaced Null values with average values of products.  
I figure this may introduce a problem.  
  
Previously, I replace null values before splitting training and test dataset.  
However, that is introducing data leakage because the test dataset should not have the same average value.  
  
Therefore, instead of filling null values with average value, I decide to make price column categorical feature.  
the features are:
1. below20  
2. below50  
3. below100  
4. below300  
5. above300  
and   
6. price_unknown (null values)

In [56]:
#first make a expression that can be used with withColumn function
df_2 = pys_fun.expr(
    """IF(price == "NaN","price_unknown", IF(price <=20, "below20", 
    IF(price>20 AND price<=50, 'below50', IF(price>50 AND price<=100, 'below100', 
    IF(price>100 AND price<=300, 'below300', 'above300')))))""")

In [57]:
#apply the expression above to my dataset and name the new feature "new_price"
df = (df.withColumn("new_price", df_2))

In [58]:
df.select("price","new_price").collect()

[Row(price=14.99, new_price=u'below20'),
 Row(price=90.54, new_price=u'below100'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=48.87, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=129.99, new_price=u'below300'),
 Row(price=99.99, new_price=u'below100'),
 Row(price=102.23, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=14.79, new_price=u'below20'),
 Row(price=132.73, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=24.82, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=499.99, new_price=u'above300'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=32.76, new_price=u'below50'),
 Row(price=300.0, new_price=u'below300'),
 Row(price=39.75, new_price=u'below50'),
 Row(price=159.99, new_price=u'below300'),
 Row(price=108.23, new_price=u'below300'),
 Row(price=134.56, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=10.93, new_price=u'below20'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=22.29, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=124.99, new_price=u'below300'),
 Row(price=33.91, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=159.99, new_price=u'below300'),
 Row(price=59.95, new_price=u'below100'),
 Row(price=5.5, new_price=u'below20'),
 Row(price=63.9, new_price=u'below100'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=67.69, new_price=u'below100'),
 Row(price=38.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=224.99, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=39.8, new_price=u'below50'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=244.97, new_price=u'below300'),
 Row(price=16.71, new_price=u'below20'),
 Row(price=26.07, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=7.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=299.99, new_price=u'below300'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=84.06, new_price=u'below100'),
 Row(price=105.0, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=299.99, new_price=u'below300'),
 Row(price=38.88, new_price=u'below50'),
 Row(price=8.46, new_price=u'below20'),
 Row(price=159.99, new_price=u'below300'),
 Row(price=499.99, new_price=u'above300'),
 Row(price=32.84, new_price=u'below50'),
 Row(price=32.76, new_price=u'below50'),
 Row(price=18.15, new_price=u'below20'),
 Row(price=129.39, new_price=u'below300'),
 Row(price=41.44, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=57.6, new_price=u'below100'),
 Row(price=59.66, new_price=u'below100'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=99.99, new_price=u'below100'),
 Row(price=113.82, new_price=u'below300'),
 Row(price=16.49, new_price=u'below20'),
 Row(price=69.95, new_price=u'below100'),
 Row(price=69.14, new_price=u'below100'),
 Row(price=84.98, new_price=u'below100'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=22.95, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=33.5, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=51.62, new_price=u'below100'),
 Row(price=19.38, new_price=u'below20'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=62.99, new_price=u'below100'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=9.95, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=33.2, new_price=u'below50'),
 Row(price=69.75, new_price=u'below100'),
 Row(price=1.95, new_price=u'below20'),
 Row(price=30.44, new_price=u'below50'),
 Row(price=85.27, new_price=u'below100'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=99.99, new_price=u'below100'),
 Row(price=51.38, new_price=u'below100'),
 Row(price=21.95, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=8.94, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=69.23, new_price=u'below100'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=48.87, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.9, new_price=u'below100'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=12.0, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=229.99, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=1.47, new_price=u'below20'),
 Row(price=14.22, new_price=u'below20'),
 Row(price=52.47, new_price=u'below100'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=24.49, new_price=u'below50'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=65.02, new_price=u'below100'),
 Row(price=18.0, new_price=u'below20'),
 Row(price=6.88, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=29.95, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=56.99, new_price=u'below100'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=223.86, new_price=u'below300'),
 Row(price=24.31, new_price=u'below50'),
 Row(price=48.62, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=49.25, new_price=u'below50'),
 Row(price=21.5, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=39.49, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=499.99, new_price=u'above300'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=259.95, new_price=u'below300'),
 Row(price=109.95, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=16.71, new_price=u'below20'),
 Row(price=39.5, new_price=u'below50'),
 Row(price=25.22, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=18.49, new_price=u'below20'),
 Row(price=85.27, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=69.9, new_price=u'below100'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=49.95, new_price=u'below50'),
 Row(price=29.95, new_price=u'below50'),
 Row(price=6.99, new_price=u'below20'),
 Row(price=59.89, new_price=u'below100'),
 Row(price=59.89, new_price=u'below100'),
 Row(price=278.8, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=19.87, new_price=u'below20'),
 Row(price=26.07, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=229.99, new_price=u'below300'),
 Row(price=18.15, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=99.99, new_price=u'below100'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=33.91, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=13.99, new_price=u'below20'),
 Row(price=369.99, new_price=u'above300'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=48.99, new_price=u'below50'),
 Row(price=35.71, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=126.93, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=18.15, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=7.99, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=69.99, new_price=u'below100'),
 Row(price=86.97, new_price=u'below100'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=23.5, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=63.99, new_price=u'below100'),
 Row(price=0.0, new_price=u'below20'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=11.3, new_price=u'below20'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=25.99, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=31.59, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=103.99, new_price=u'below300'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=33.5, new_price=u'below50'),
 Row(price=2.4, new_price=u'below20'),
 Row(price=21.75, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=28.12, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=126.93, new_price=u'below300'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=15.14, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=126.93, new_price=u'below300'),
 Row(price=59.89, new_price=u'below100'),
 Row(price=174.99, new_price=u'below300'),
 Row(price=48.69, new_price=u'below50'),
 Row(price=37.49, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=56.99, new_price=u'below100'),
 Row(price=75.94, new_price=u'below100'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=101.15, new_price=u'below300'),
 Row(price=52.1, new_price=u'below100'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.95, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=22.0, new_price=u'below50'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=51.62, new_price=u'below100'),
 Row(price=74.99, new_price=u'below100'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=33.41, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=499.99, new_price=u'above300'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=9.5, new_price=u'below20'),
 Row(price=3.0, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=39.0, new_price=u'below50'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=44.78, new_price=u'below50'),
 Row(price=46.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=359.74, new_price=u'above300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=183.9, new_price=u'below300'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=65.02, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=105.66, new_price=u'below300'),
 Row(price=9.45, new_price=u'below20'),
 Row(price=59.89, new_price=u'below100'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=25.49, new_price=u'below50'),
 Row(price=252.93, new_price=u'below300'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=5.99, new_price=u'below20'),
 Row(price=18.15, new_price=u'below20'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=41.44, new_price=u'below50'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=300.0, new_price=u'below300'),
 Row(price=169.99, new_price=u'below300'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=69.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=32.64, new_price=u'below50'),
 Row(price=89.99, new_price=u'below100'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=110.72, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=24.59, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=3.03, new_price=u'below20'),
 Row(price=8.49, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=18.24, new_price=u'below20'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=32.27, new_price=u'below50'),
 Row(price=179.99, new_price=u'below300'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=12.0, new_price=u'below20'),
 Row(price=9.1, new_price=u'below20'),
 Row(price=199.95, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=10.93, new_price=u'below20'),
 Row(price=54.25, new_price=u'below100'),
 Row(price=113.06, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=24.95, new_price=u'below50'),
 Row(price=52.5, new_price=u'below100'),
 Row(price=18.99, new_price=u'below20'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=14.99, new_price=u'below20'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=37.49, new_price=u'below50'),
 Row(price=9.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=12.0, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=35.36, new_price=u'below50'),
 Row(price=48.62, new_price=u'below50'),
 Row(price=39.0, new_price=u'below50'),
 Row(price=201.4, new_price=u'below300'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=24.99, new_price=u'below50'),
 Row(price=36.28, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=284.99, new_price=u'below300'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=32.27, new_price=u'below50'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=32.89, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=89.95, new_price=u'below100'),
 Row(price=261.95, new_price=u'below300'),
 Row(price=142.65, new_price=u'below300'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=12.49, new_price=u'below20'),
 Row(price=149.99, new_price=u'below300'),
 Row(price=29.95, new_price=u'below50'),
 Row(price=nan, new_price=u'price_unknown'),
 Row(price=49.99, new_price=u'below50'),
 Row(price=41.44, new_price=u'below50'),
 Row(price=14.5, new_price=u'below20'),
 Row(price=12.0, new_price=u'below20'),
 Row(price=149.98, new_price=u'below300'),
 Row(price=39.99, new_price=u'below50'),
 Row(price=19.99, new_price=u'below20'),
 Row(price=59.99, new_price=u'below100'),
 Row(price=29.99, new_price=u'below50'),
 Row(price=49.99, new_price=u'below50'),

In [59]:
#now lets make a dummy variables for these categorical values
panda_df=df.toPandas()
dum = pd.get_dummies(panda_df.new_price, drop_first=True)
dum2 =pd.concat([panda_df.id,dum], axis = 1)

In [60]:
dum2.head(10)

             id  below100  below20  below300  below50  price_unknown
0   25769803779         0        1         0        0              0
1  154618822659         1        0         0        0              0
2  274877907016         0        0         0        1              0
3  292057776131         0        0         0        1              0
4  326417514596         0        0         0        1              0
5  446676598802         1        0         0        0              0
6  455266533491         0        0         0        0              1
7  472446402575         0        0         1        0              0
8  481036337164         1        0         0        0              0
9  592705486860         0        0         1        0              0

In [61]:
price_dum = hc.createDataFrame(dum2)

In [62]:
price_dum.show()

+-------------+--------+-------+--------+-------+-------------+
|           id|below100|below20|below300|below50|price_unknown|
+-------------+--------+-------+--------+-------+-------------+
|  25769803779|       0|      1|       0|      0|            0|
| 154618822659|       1|      0|       0|      0|            0|
| 274877907016|       0|      0|       0|      1|            0|
| 292057776131|       0|      0|       0|      1|            0|
| 326417514596|       0|      0|       0|      1|            0|
| 446676598802|       1|      0|       0|      0|            0|
| 455266533491|       0|      0|       0|      0|            1|
| 472446402575|       0|      0|       1|      0|            0|
| 481036337164|       1|      0|       0|      0|            0|
| 592705486860|       0|      0|       1|      0|            0|
| 627065225225|       0|      1|       0|      0|            0|
| 730144440325|       0|      1|       0|      0|            0|
| 738734374913|       0|      0|       1|      0|            0|
| 816043786244|       0|      1|       0|      0|            0|
| 824633720837|       0|      0|       0|      1|            0|
| 841813590032|       0|      1|       0|      0|            0|
| 927712935944|       0|      0|       0|      0|            0|
| 927712935972|       0|      0|       0|      1|            0|
| 953482739720|       0|      1|       0|      0|            0|
|1013612281865|       0|      0|       0|      0|            1|
+-------------+--------+-------+--------+-------+-------------+
only showing top 20 rows

In [63]:
price_dum.registerTempTable('dummy2')
df.registerTempTable('merged_df')

df_2 = hc.sql('''
SELECT m.*, dum.below20, dum.below50,dum.below100,dum.below300,dum.price_unknown FROM merged_df AS m JOIN dummy2 AS dum ON m.id=dum.id''')

In [65]:
df_2.show()

+--------------------+-------+-------------------+--------------------+------------------+-----------+----------+------+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+-------------+--------+-----------+-------------+-------+-------+--------+--------+-------------+
|          reviewText|overall|helpful_total_votes|num_of_helpful_votes|helpful_percentage|Text_length|      asin| price|  rank_keys|rank_values|num_category|Screen Protectors|PlayStation 4|PlayStation 3|PlayStation 2|Game Boy Advance|Joysticks|GameCube|Commodore Amiga|3DO|Cases & Protectors|More Systems|Sony PSP|LIVE|Sega Master System|Fitness Accessories|Subscription Cards|Points & Currency Cards|Atari 2600|Controllers|Light Guns|Nintendo 64|Nintendo 3DS|Linux Games|Accessories|Skins|Steering Wheels|Racing Wheels|PlayStation|Networking|Atari 7800|Xbox 360|Chargers|Kids & Family|ColecoVision|Gamepads|Digital Games & DLC| PC|Consoles|Game Boy Color|Nintendo NES|Drums|MMO & Free-to-Play Games|Xbox|Sega CD|Faceplates|Game Boy|Adapters|Batteries|Fire TV|Sega Genesis|Speakers|Batteries & Chargers|Mac Game Downloads|Sega Game Gear|PDAs|Sega Dreamcast|Remotes|Xbox One|Dance Mats|Atari 5200|Keyboards|Downloadable Content|Cables & Adapters|Guitars|Commodore 64|Microphones|Wii U|Headsets|Atari Lynx|Accessory Kits|Casual Games|Interactive Gaming Figures|Memory|Intellivision|NEOGEO Pocket|Nintendo DS|TurboGrafx 16|PlayStation Vita|Video Games|Digital Games|PC Game Downloads|Mac|Sensor Bars|Atari Jaguar|Flight Controls|Currency Cards|Games|Super Nintendo|Wii|Hardware|Gaming Mice|Sega Saturn|Cables|Gaming Keyboards|           id|software|Video_Games|    new_price|below20|below50|below100|below300|price_unknown|
+--------------------+-------+-------------------+--------------------+------------------+-----------+----------+------+-----------+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-----------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+-------------+--------+-----------+-------------+-------+-------+--------+--------+-------------+
|First off, the re...|    4.0|                104|                  85|              0.82|        829|B000HZFCT2| 19.99|Video Games|         99|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     1.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 137438953476|       0|          1|      below20|      1|      0|       0|       0|            0|
|If you have a Gam...|    5.0|                109|                 102|              0.94|        898|B00012D0SG| 19.99|Video Games|        290|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     1.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     1.0|        0.0|        0.0|   0.0|             0.0| 146028888066|       0|          1|      below20|      1|      0|       0|       0|            0|
|Greatness is a wo...|    5.0|                237|                 196|              0.83|       7046|B004EQCCI4| 19.99|Video Games|        632|           1|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 231928233998|       0|          1|      below20|      1|      0|       0|       0|            0|
|This item is high...|    4.0|                111|                 109|              0.98|        690|B00004YMSV| 13.98|Video Games|      52453|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           1.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 377957122049|       0|          1|      below20|      1|      0|       0|       0|            0|
|In less then twel...|    1.0|                118|                  16|              0.14|        528|B0050SWBAE| 59.99|Video Games|        532|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  1.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 412316860436|       0|          1|     below100|      0|      0|       1|       0|            0|
|Awesome for kids ...|    5.0|                456|                 405|              0.89|        112|B00DJFIMW6|   NaN|Video Games|     131442|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    1.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          1.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 455266533408|       0|          1|price_unknown|      0|      0|       0|       0|            1|
|Infamous is a gre...|    5.0|                180|                 168|              0.93|       2096|B000ZK7ZOE| 29.99|Video Games|       1288|           1|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 463856467978|       0|          1|      below50|      0|      1|       0|       0|            0|
|ok, the only reas...|    1.0|                139|                  22|              0.16|        270|B00006LEM3| 74.99|Video Games|       9463|           1|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         1.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 1.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 790273982468|       0|          1|     below100|      0|      0|       1|       0|            0|
|I've had the Trit...|    3.0|                125|                 103|              0.82|       3646|B003O6N64Y|174.99|Video Games|       6852|           2|              0.0|          0.0|          1.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        1.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     1.0|     0.0|          0.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     1.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  0.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 798863917073|       0|          1|     below300|      0|      0|       0|       1|            0|
|I originally boug...|    5.0|                118|                 113|              0.96|       1838|B003P8O16S| 19.99|Video Games|       3378|           2|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|0.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|1.0|     0.0|        0.0|        0.0|   0.0|             0.0| 919123001375|       0|          1|      below20|      1|      0|       0|       0|            0|
|This highly addic...|    5.0|                147|                 142|              0.97|        430|B0002YIDAS|  6.98|   Software|       3497|           3|              0.0|          0.0|          0.0|          0.0|             0.0|      0.0|     0.0|            0.0|0.0|               0.0|         0.0|     0.0| 0.0|               0.0|                0.0|               0.0|                    0.0|       0.0|        0.0|       0.0|        0.0|         0.0|        0.0|        0.0|  0.0|            0.0|          0.0|        0.0|       0.0|       0.0|     0.0|     0.0|          1.0|         0.0|     0.0|                0.0|1.0|     0.0|           0.0|         0.0|  0.0|                     0.0| 0.0|    0.0|       0.0|     0.0|     0.0|      0.0|    0.0|         0.0|     0.0|                 0.0|               0.0|           0.0| 0.0|           0.0|    0.0|     0.0|       0.0|       0.0|      0.0|                 0.0|              0.0|    0.0|         0.0|        0.0|  0.0|     0.0|       0.0|           0.0|         0.0|                       0.0|   0.0|          0.0|          0.0|        0.0|          0.0|             0.0|        1.0|          0.0|              0.0|0.0|        0.0|         0.0|            0.0|           0.0|  1.0|           0.0|0.0|     0.0|        0.0|        0.0|   0.0|             0.0| 936302870530|       1|          0|      below20|      1|      0|       0|       0|            0|

In [66]:
print((df_2.count(), len(df_2.columns)))

(4739, 114)

In [ ]:
# taking out data samples where price is unknown and rank value is unknown.
df_2_1 = df_2.where(~((df_2.price_unknown==1)&(df_2.rank_values == max_of_rank_val)))

In [68]:
#now we do not need price and new_price anymore so I would just drop them.
df_2 = df_2.drop('price','new_price')

In [71]:
df_2 = df_2.drop('rank_keys')

In [34]:
print((df_2.count(), len(df_2.columns)))

(4739, 111)

In [35]:
print((df_2_1.count(), len(df_2_1.columns)))

(4234, 111)

**DO NOT USE write.csv to save data. It cause loss of data samples**  
Instead, try parquet file.

In [36]:
#df_2_1.write.csv('sparkprocess1.csv', mode="overwrite", header=True)
df_2_1 = df_2_1.drop('Video Games')
df_2_1 = df_2_1.toDF(*(c.replace(' ', '_') for c in df_2_1.columns))
df_2_1.write.save("TFIDF_ready.parquet")

### Codes that run everything we did so far

In [3]:
path = './reviews_Video_Games.json.gz'
meta_path = './meta_Video_Games.json.gz'
start_time = time.time()
# review data preparation
dataframe = dp.getDF(path)
meta = dp.getDF(meta_path)
hc = ps.HiveContext(sc)
sql = ps.SQLContext(sc)
index = [i for i in xrange(len(dataframe.helpful)) if dataframe.helpful[i][1] > 100]
dataframe2 = dataframe.loc[index]
d2 = dataframe2.drop(['unixReviewTime','reviewTime','reviewerName','reviewerID','summary'],axis = 1)
schema = StructType([
        StructField('asin', StringType(), True),
        StructField('helpful', ArrayType(IntegerType()), True),
        StructField('reviewText', StringType(), True),
        StructField('overall', FloatType(), True)])
df = hc.createDataFrame(d2,schema)
df = df.withColumn("helpful_total_votes", df["helpful"].getItem(1)).withColumn("num_of_helpful_votes", df["helpful"].getItem(0))
df = df.drop(df["helpful"])
df.registerTempTable('review')
result = hc.sql('''
SELECT R.*,
ROUND(R.num_of_helpful_votes/R.helpful_total_votes,2) as helpful_percentage,
LENGTH(R.reviewText) as Text_length FROM review as R''')

#preparing meta data
meta2 = meta.drop(['imUrl','related','title','brand','description'],axis = 1)
meta2, max_of_rank_val = dp._add_rankings(meta2,'Video Games')
meta3 = meta2.drop(['salesRank'],axis = 1)
schema2 = StructType([
        StructField('asin', StringType(), True),
        StructField('price',FloatType(),True),
        StructField('categories', ArrayType(ArrayType(StringType())), True),
        StructField('rank_keys', StringType(), True),
        StructField('rank_values', IntegerType(), True)])
df_meta = hc.createDataFrame(meta3,schema2)
number_of_category = df_meta.select('categories').rdd.flatMap(lambda x: x).map(lambda x: len(x)).collect()
nc= hc.createDataFrame(number_of_category,IntegerType())
df_meta = df_meta.withColumn("id", monotonically_increasing_id())
nc = nc.withColumn("id", monotonically_increasing_id())
df_meta.registerTempTable('meta')
nc.registerTempTable('nc')
df_meta = hc.sql('SELECT m.*, nc.value AS num_category FROM meta AS m JOIN nc ON m.id == nc.id ORDER BY id')
category_word = df_meta.select('categories').rdd.flatMap(lambda x: x)\
                    .flatMap(lambda x: x).flatMap(lambda x3: [word for word in x3 if x3[0] == 'Video Games']).collect()
word_list = list(set(category_word))
np_cat_case = np.zeros((len(meta3),len(word_list)))
df_category= pd.DataFrame(np_cat_case)
df_category.columns = word_list
df_category = dp._category_fill(meta3['categories'],df_category, 'Video Games')
cat_df= hc.createDataFrame(df_category)
cat_df = cat_df.withColumn("id", monotonically_increasing_id())

df_meta.registerTempTable('meta')
cat_df.registerTempTable('cat_df')

df_meta2 = hc.sql('''
SELECT m.asin,m.price, m.rank_keys, m.rank_values, m.num_category, cd.* 
FROM meta AS m JOIN cat_df AS cd ON m.id == cd.id ORDER BY cd.id''')

#mergning review and meta:
df_meta2.registerTempTable('meta')
result.registerTempTable('review')

query ='''
SELECT R.reviewText,R.overall, R.helpful_total_votes, R.num_of_helpful_votes, 
R.helpful_percentage, R.Text_length, meta_2.*
FROM review as R JOIN (SELECT meta.*, COUNT(rank_keys) OVER(PARTITION BY rank_keys) AS count_cat FROM meta) meta_2 
ON R.asin = meta_2.asin 
WHERE meta_2.count_cat >100''' 

result2 = hc.sql(query)
result2 = result2.drop("id","count_cat")
result2 = result2.withColumn("id", monotonically_increasing_id())
panda_result=result2.toPandas()
dum = pd.get_dummies(panda_result.rank_keys, drop_first=True)
dum = dum.rename(columns={'Video Games': 'Video_Games'})
dum2 =pd.concat([panda_result.id,dum], axis = 1)
dum_spark = hc.createDataFrame(dum2)
dum_spark.registerTempTable('dummy')
result2.registerTempTable('merged_df')

df_merged = hc.sql('''
SELECT m.*, dum.software, dum.Video_Games FROM merged_df AS m JOIN dummy AS dum ON m.id=dum.id''')

#price
ifquery = pys_fun.expr(
    """IF(price == "NaN","price_unknown", IF(price <=20, "below20", 
    IF(price>20 AND price<=50, 'below50', IF(price>50 AND price<=100, 'below100', 
    IF(price>100 AND price<=300, 'below300', 'above300')))))""")
df_merged = (df_merged.withColumn("new_price", ifquery))
panda_df=df_merged.toPandas()
dum3 = pd.get_dummies(panda_df.new_price, drop_first=True)
dum4 =pd.concat([panda_df.id,dum3], axis = 1)
price_dum = hc.createDataFrame(dum4)
price_dum.registerTempTable('dummy2')
df_merged.registerTempTable('merged_df')

df_2 = hc.sql('''
SELECT m.*, dum.below20, dum.below50,dum.below100,dum.below300,dum.price_unknown FROM merged_df AS m JOIN dummy2 AS dum ON m.id=dum.id''')
df_2 = df_2.drop('price','new_price','rank_keys')
df_2_1 = df_2.where(~((df_2.price_unknown==1)&(df_2.rank_values == max_of_rank_val)))
#changing names of columns. Parquet file format does not allow spaces and special characters.
df_2_1 = df_2_1.drop('Video Games')
df_2_1 = df_2_1.toDF(*(c.replace(' ', '_') for c in df_2_1.columns))
df_2_1.write.save("TFIDF_ready.parquet")
print("--- %s seconds ---" % (time.time() - start_time))

--- 516.07486105 seconds ---

### checking Output files

In [4]:
test= spark.read.load("TFIDF_ready.parquet")

In [5]:
print "total number of datapoints: {}".format(test.count())
print "total number of features: {}".format(len(test.columns))

total number of datapoints: 4234
total number of features: 110

In [6]:
test.select([count(when(isnan(c) | col(c).isNull(), c)).alias(c) for c in test.columns]).show()

+----------+-------+-------------------+--------------------+------------------+-----------+----+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+---+--------+-----------+-------+-------+--------+--------+-------------+
|reviewText|overall|helpful_total_votes|num_of_helpful_votes|helpful_percentage|Text_length|asin|rank_values|num_category|Screen_Protectors|PlayStation_4|PlayStation_3|PlayStation_2|Game_Boy_Advance|Joysticks|GameCube|Commodore_Amiga|3DO|Cases_&_Protectors|More_Systems|Sony_PSP|LIVE|Sega_Master_System|Fitness_Accessories|Subscription_Cards|Points_&_Currency_Cards|Atari_2600|Controllers|Light_Guns|Nintendo_64|Nintendo_3DS|Linux_Games|Accessories|Skins|Steering_Wheels|Racing_Wheels|PlayStation|Networking|Atari_7800|Xbox_360|Chargers|Kids_&_Family|ColecoVision|Gamepads|Digital_Games_&_DLC| PC|Consoles|Game_Boy_Color|Nintendo_NES|Drums|MMO_&_Free-to-Play_Games|Xbox|Sega_CD|Faceplates|Game_Boy|Adapters|Batteries|Fire_TV|Sega_Genesis|Speakers|Batteries_&_Chargers|Mac_Game_Downloads|Sega_Game_Gear|PDAs|Sega_Dreamcast|Remotes|Xbox_One|Dance_Mats|Atari_5200|Keyboards|Downloadable_Content|Cables_&_Adapters|Guitars|Commodore_64|Microphones|Wii_U|Headsets|Atari_Lynx|Accessory_Kits|Casual_Games|Interactive_Gaming_Figures|Memory|Intellivision|NEOGEO_Pocket|Nintendo_DS|TurboGrafx_16|PlayStation_Vita|Digital_Games|PC_Game_Downloads|Mac|Sensor_Bars|Atari_Jaguar|Flight_Controls|Currency_Cards|Games|Super_Nintendo|Wii|Hardware|Gaming_Mice|Sega_Saturn|Cables|Gaming_Keyboards| id|software|Video_Games|below20|below50|below100|below300|price_unknown|
+----------+-------+-------------------+--------------------+------------------+-----------+----+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+---+--------+-----------+-------+-------+--------+--------+-------------+
|         0|      0|                  0|                   0|                 0|          0|   0|          0|           0|                0|            0|            0|            0|               0|        0|       0|              0|  0|                 0|           0|       0|   0|                 0|                  0|                 0|                      0|         0|          0|         0|          0|           0|          0|          0|    0|              0|            0|          0|         0|         0|       0|       0|            0|           0|       0|                  0|  0|       0|             0|           0|    0|                       0|   0|      0|         0|       0|       0|        0|      0|           0|       0|                   0|                 0|             0|   0|             0|      0|       0|         0|         0|        0|                   0|                0|      0|           0|          0|    0|       0|         0|             0|           0|                         0|     0|            0|            0|          0|            0|               0|            0|                0|  0|          0|           0|              0|             0|    0|             0|  0|       0|          0|          0|     0|               0|  0|       0|          0|      0|      0|       0|       0|            0|
+----------+-------+-------------------+--------------------+------------------+-----------+----+-----------+------------+-----------------+-------------+-------------+-------------+----------------+---------+--------+---------------+---+------------------+------------+--------+----+------------------+-------------------+------------------+-----------------------+----------+-----------+----------+-----------+------------+-----------+-----------+-----+---------------+-------------+-----------+----------+----------+--------+--------+-------------+------------+--------+-------------------+---+--------+--------------+------------+-----+------------------------+----+-------+----------+--------+--------+---------+-------+------------+--------+--------------------+------------------+--------------+----+--------------+-------+--------+----------+----------+---------+--------------------+-----------------+-------+------------+-----------+-----+--------+----------+--------------+------------+--------------------------+------+-------------+-------------+-----------+-------------+----------------+-------------+-----------------+---+-----------+------------+---------------+--------------+-----+--------------+---+--------+-----------+-----------+------+----------------+---+--------+-----------+-------+-------+--------+--------+-------------+